NODE_ENV=development
PORT=3000
BASH_APP_KEY=your_bash_app_key_here

DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

JWT_SECRET=your_jwt_secret_key_minimum_8_chars
JWT_EXPIRES_IN=7d

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

AWS_S3_BUCKET=your_s3_bucket_name
AWS_S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

CORS_ORIGIN=*
THROTTLE_TTL=60
THROTTLE_LIMIT=100
